{% extends "account/base.html" %}
{% load i18n %}

{% block page_title %}Change password{% endblock %}

{% block content %}
{% include "account/blocks/start_block.html" %}
    <div class="section-title">
        <h2 class="title">{% trans 'Change password' %}</h2>
    </div>
    <form method="POST" action="">
        {% csrf_token %}

        <div class="col-md-12">
            <div class="form-group">
                <input class="input" type="password" name="password_current" required id="id_password_current" placeholder="{% trans 'Current password' %}">
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <input class="input" type="password" name="password_new" required id="id_password_new" placeholder="{% trans 'New password' %}">
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <input class="input" type="password" name="password_new_confirm" required id="id_password_new_confirm" placeholder="{% trans 'New password again' %}">
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group common_center">
                <button class="primary-button">{% trans 'Сохранить пост' %}</button>
            </div>
        </div>
    </form>
{% include "account/blocks/end_block.html" %}
{% endblock %}