{% extends "base.html" %}



{% block page_title %}Password reset sent{% endblock %}

{% block content %}
{% include "account/blocks/start_block.html" %}
    <div class="section-title">
        <h2 class="title">Password reset sent</h2>
    </div>


    {% if not resend %}
    <p>We have sent you an email. If you do not receive it within a few minutes, try resending or contact us at <a href="mailto:{{ THEME_CONTACT_EMAIL }}">{{ THEME_CONTACT_EMAIL }}</a>.</p>

    <div class="row">
        <div class="col-md-12">
            <form method="POST" action="{% url "account_password_reset" %}">
                {% csrf_token %}
                {% for field in form %}
                {{ field.as_hidden }}
                {% endfor %}
                <div class="col-md-12">
                    <div class="form-group common_center">
                        <button class="primary-button">Resend</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
    {% else %}
    <p>We have resent the password email. If you do not receive it within a few minutes, contact us at <a href="mailto:{{ THEME_CONTACT_EMAIL }}">{{ THEME_CONTACT_EMAIL }}</a>.</p>
    {% endif %}

{% include "account/blocks/end_block.html" %}
{% endblock %}