{% extends "base.html" %}
{% load i18n %}

{% block page_title %}{% trans 'Password reset' %}{% endblock %}

{% block content %}
{% include "account/blocks/start_block.html" %}
    <div class="section-title">
        <h2 class="title">{% trans 'Password reset' %}</h2>
    </div>
    <form method="POST" action="">
        {% csrf_token %}
        <p class="lead">{% trans 'Forgotten' %}</p>

        <div class="col-md-12">
            <div class="form-group">
                <input class="input" type="email" name="email" required id="id_email" placeholder="{% trans 'Email' %}">
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group common_center">
                <button class="primary-button">{% trans 'Reset my password' %}</button>
            </div>
        </div>
    </form>
{% include "account/blocks/end_block.html" %}
{% endblock %}

{% block extra_body %}
<script>
    $("#id_email").focus();
</script>
{% endblock %}