{% extends "base.html" %}


{% block page_title %}Set your new password{% endblock %}

{% block content %}
{% include "account/blocks/start_block.html" %}
    <div class="section-title">
        <h2 class="title">Set your new password</h2>
    </div>
    <form method="POST" action="{% url "account_password_reset_token" uidb36=uidb36 token=token %}">

        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
{% include "account/blocks/end_block.html" %}
{% endblock %}